*{
    box-sizing: border-box;
}

body{
    background-color: #ddd;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 50px;
}

label{
  font-size: 18px;
}

input{
  height: 32px;
  background-color: white;
} 

/* Div element to show page content */
#contentDiv{
  height: 600px;
  margin-top: 50px;
}

/* header */
.navigation {
    background-color: rgb(81, 78, 78);
    text-align: center;
    height: 50px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

/* menu */
.menu{
  display: flex;
  align-items: center;
  justify-content: center;
} 

/* Menu Buttons */
.menubtn {
    background-color: rgb(81, 78, 78);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 1s;
  }
  
  /* Menu button hover  */
  .menubtn:hover{
    background-color: rgb(176, 175, 175);
    color:black;
  } 
    
  /* Footer */
  footer {
    background-color: rgb(81, 78, 78);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Input form */
#input-form{
  width: 80%;
  background-color:whitesmoke;
  padding: 10px 10px 30px 10px;
  box-shadow: 5px 10px #888888;
  margin: auto;
  text-align: center;
}

#input-form h2{
  text-align: center;
}

.submit-form {
  text-align: center;
  padding-top: 10px;
}

button.submit{
  background-color: rgb(81, 78, 78);
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  height: 30px;
  width: 130px;
  transition: background-color 1s;
}

button:hover{
  background-color: rgb(176, 175, 175);
  color:black;
}

/* Available countries */
.single-post{
  background-color: whitesmoke;
  padding: 10px 10px 30px 10px;
  box-shadow: 5px 10px #888888;
  width: 80%;
  margin: auto
}

.single-post h2{
    text-align: center;
}

.card-action{
    text-align: center;
}

#countries, #date-holiday{
  text-align: center;
  list-style-type: none;
}

#countries li, #date-holiday li{
  padding-bottom: 5px;
}

/* Public holidays in year */
.holidayYear{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#country{
  height: 32px;
}
